/******  M O D A L E  ******/

.modale {
display: flex;
align-items: center;
justify-content: center;

}

#modale-content {
    background-color: #FFF;
    border: 5px solid black;
    padding: 20px;
    width: 780px;
    height: 770px;
    margin: 0 25% 0 27%;

}
